@{
	var filter = new LogFilter();
}

<div class="view-caption">
	<div>
		<b>Создание нового фильтра</b>
	</div>
	<div>
		<button class="button" onclick="go('@Url.Action("", "filters")')">К списку</button>
	</div>
</div>

<div class="view-body" id="edit-form" form="@Url.Action("DoCreate", "filters")">
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Имя</span>
		</div>
		<div>
			<input name="@nameof(filter.Name)" value="@filter.Name" />
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Описание</span>
		</div>
		<div>
			<textarea name="@nameof(filter.Description)">@filter.Description</textarea>
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Разрешающий</span>
		</div>
		<div>
			<input type="checkbox" name="@nameof(filter.Allow)" />
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Компьютеры</span>
		</div>
		<div>
			<input name="@nameof(filter.Endpoints)" value="@filter.Endpoints" />
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Журналы</span>
		</div>
		<div>
			<input name="@nameof(filter.Journals)" value="@filter.Journals" />
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Источники</span>
		</div>
		<div>
			<input name="@nameof(filter.Sources)" value="@filter.Sources" />
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Id событий</span>
		</div>
		<div>
			<input name="@nameof(filter.EventIds)" value="@filter.EventIds" />
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Категории</span>
		</div>
		<div>
			<input name="@nameof(filter.Categories)" value="@filter.Categories" />
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Типы</span>
		</div>
		<div>
			<input name="@nameof(filter.Types)" value="@filter.Types" />
		</div>
	</div>

	<div class="view-form-buttons">
		<button class="button" onclick="submit()">Сохранить</button>
	</div>
</div>
