@model string

@using (var db = new DatabaseContext())
{
	var station = db.Stations
		.Where(x => x.Endpoint == Model)
		.FirstOrDefault();

	if (station == null)
	{
		<div class="error">
			Станция с сетевым именем <b>@Model</b> не найдена
		</div>
		return;
	}

	var config = db.StationsConfigs
		.Where(x => x.Id == station.StationConfigId)
		.FirstOrDefault();

	var logs = db.Logs
		.Where(x => x.Endpoint == station.Endpoint)
		.OrderByDescending(x => x.TimeStamp)
		.Take(30)
		.ToList();

	var specs = db.StationsSpecs
		.Where(x => x.Endpoint == station.Endpoint)
		.Where(x => x.Page == "Суммарная информация")
		.Where(x => !new[] { "DMI", "Ввод" }.Contains(x.ItemGroup))
		.Where(x => !new[] { "Коммуникационный порт", "USB-устройство" }.Contains(x.Item))
		.Select(x => new { x.ItemGroup, x.Item, x.Value })
		.OrderBy(x => x.ItemGroup)
		.ThenBy(x => x.Item)
		.ToList();

	string text = "Агент: ";
	text += station.DeployText().ToLower();
	
	if (station.IsAlive)
	{
		text += ", в работе";
	}
	else
	{
		text += ", не отвечает";
	}

	<div class="view-caption">
		<div>
			<b>Просмотр станции @station.Endpoint</b>
		</div>
		<div>
			<button class="button" onclick="action('@Url.Action("install", "stations", new { Id = station.Endpoint })')">Поставить агента</button>
			<button class="button" onclick="action('@Url.Action("uninstall", "stations", new { Id = station.Endpoint })')">Удалить агента</button>
			<button class="button" onclick="go('@Url.Action("edit", "stations", new { Id = station.Endpoint })')">Изменить</button>
			<button class="button" onclick="go('@Url.Action("", "stations")')">К списку</button>
		</div>
	</div>

	<div class="view-body">
		<div class="view-info">
			<div>@text</div>
			@if (config != null)
			{
				<div>Конфигурация: <a class="button" href="#/configs/details/@config.Id">@config.Name</a></div>
			}
			else
			{
				<div>Конфигурация не назначена</div>
			}
		</div>

		<div class="view-minitable">
			<div class="view-minitable-title">Спецификация@(specs.Count == 0 ? " не определена" : "")</div>
			@if (specs.Count > 0)
			{
				<div class="view-minitable-body">
					<table>
						@foreach (var spec in specs)
						{
							<tr>
								<td>@spec.ItemGroup</td>
								<td>@spec.Item</td>
								<td>@spec.Value</td>
							</tr>
						}
					</table>
				</div>
			}
		</div>

		<div class="view-minitable">
			<div class="view-minitable-title">Сообщения@(logs.Count == 0 ? " не найдены" : "")</div>
			@if (logs.Count > 0)
			{
				<div class="view-minitable-body">
					<table>
						@foreach (var log in logs)
						{
							<tr>
								<td>@log.TimeStamp.ToString("dd.MM.yyyy HH:mm")</td>
								<td>@log.Type</td>
								<td>@log.Message</td>
							</tr>
						}
					</table>
				</div>
			}
		</div>

	</div>
}
