@using (var db = new DatabaseContext())
{
	var config = new StationConfig();

	var filters = db.LogsFilters
		.Select(x => new { x.Id, x.Name })
		.ToList();

	var pings = db.ActionsPings
		.Select(x => new { x.Id, x.Name })
		.ToList();

	var sql = db.ActionsSql
		.Select(x => new { x.Id, x.Name })
		.ToList();

	<div class="view-caption">
		<div>
			<b>Создание новой конфигурации</b>
		</div>
		<div>
			<a class="button" href="#/configs">К списку</a>
		</div>
	</div>

	<div class="view-body" form="@Url.Action("DoCreate", "Configs")">
		<div class="view-form-field">
			<div class="view-form-field-name">
				<span>Название</span>
			</div>
			<div>
				<input name="@nameof(config.Name)" />
			</div>
		</div>
		<div class="view-form-field">
			<div class="view-form-field-name">
				<span>Описание</span>
			</div>
			<div>
				<textarea name="@nameof(config.Description)"></textarea>
			</div>
		</div>
		<div class="view-form-field">
			<div class="view-form-field-name">
				<span>Используемые фильтры</span>
			</div>
			<div class="view-form-selection">
				<input type="hidden" name="Filters[]" value="0" />
				@foreach (var x in filters)
				{
					<div onclick="changeSelection(this)" class="excluded">
						<input type="hidden" name="Filters[]" class="excluded" value="@x.Id" />
						@x.Name
					</div>
				}
			</div>
		</div>
		<div class="view-form-field">
			<div class="view-form-field-name">
				<span>Используемые Ping проверки</span>
			</div>
			<div class="view-form-selection">
				<input type="hidden" name="Pings[]" value="0" />
				@foreach (var x in pings)
				{
					<div onclick="changeSelection(this)" class="excluded">
						<input type="hidden" name="Pings[]" class="excluded" value="@x.Id" />
						@x.Name
					</div>
				}
			</div>
		</div>
		<div class="view-form-field">
			<div class="view-form-field-name">
				<span>Используемые Sql процедуры</span>
			</div>
			<div class="view-form-selection">
				<input type="hidden" name="Sql[]" value="0" />
				@foreach (var x in sql)
				{
					<div onclick="changeSelection(this)" class="excluded">
						<input type="hidden" name="Sql[]" class="excluded" value="@x.Id" />
						@x.Name
					</div>
				}
			</div>
		</div>

		<div class="view-form-buttons">
			<button class="button" onclick="submit()">Сохранить</button>
		</div>
	</div>
}
