@model int

@using (var db = new DatabaseContext())
{
	var config = db.StationsConfigs
		.FirstOrDefault(x => x.Id == Model);

	if (config == null)
	{
		<div class="error">
			Конфигурация <b>№@Model</b> не найдена
		</div>
		return;
	}

	var filters = db.LogsFilters
		.Select(x => new { x.Id, x.Name })
		.ToList();

	var pings = db.ActionsPings
		.Select(x => new { x.Id, x.Name })
		.ToList();

	var sql = db.ActionsSql
		.Select(x => new { x.Id, x.Name })
		.ToList();

	var usedFilters = db.Rel_StationConfig_LogFilter
		.Where(x => x.StationConfigId == config.Id)
		.Select(x => x.LogFilterId)
		.ToList();

	var usedPings = db.Rel_StationConfig_ActionPing
		.Where(x => x.StationConfigId == config.Id)
		.Select(x => x.PingActionId)
		.ToList();

	var usedSql = db.Rel_StationConfig_ActionSql
		.Where(x => x.StationConfigId == config.Id)
		.Select(x => x.ActionSqlId)
		.ToList();

	<div class="view-caption">
		<div>
			<b>Редактирование конфигурации @config.Name</b>
		</div>
		<div>
			<button class="button" onclick="modal('#delete')">Удалить</button>
			<button class="button" onclick="go('@Url.Action("", "configs")')">К списку</button>
		</div>
	</div>

	<div class="view-body" form="@Url.Action("DoEdit", "Configs")">
		<input type="hidden" name="@nameof(config.Id)" value="@config.Id" />
		<div class="view-form-field">
			<div class="view-form-field-name">
				<span>Название</span>
			</div>
			<div>
				<input name="@nameof(config.Name)" value="@config.Name" />
			</div>
		</div>
		<div class="view-form-field">
			<div class="view-form-field-name">
				<span>Описание</span>
			</div>
			<div>
				<textarea name="@nameof(config.Description)">@config.Description</textarea>
			</div>
		</div>
		<div class="view-form-field">
			<div class="view-form-field-name">
				<span>Используемые фильтры</span>
			</div>
			<div class="view-form-selection">
				<input type="hidden" name="Filters[]" value="0" />
				@foreach (var x in filters)
				{
					if (usedFilters.Contains(x.Id))
					{
						<div onclick="changeSelection(this)">
							<input type="hidden" name="Filters[]" value="@x.Id" />
							@x.Name
						</div>
					}
					else
					{
						<div onclick="changeSelection(this)" class="excluded">
							<input type="hidden" name="Filters[]" class="excluded" value="@x.Id" />
							@x.Name
						</div>
					}
				}
			</div>
		</div>
		<div class="view-form-field">
			<div class="view-form-field-name">
				<span>Используемые Ping проверки</span>
			</div>
			<div class="view-form-selection">
				<input type="hidden" name="Pings[]" value="0" />
				@foreach (var x in pings)
				{
					if (usedPings.Contains(x.Id))
					{
						<div onclick="changeSelection(this)">
							<input type="hidden" name="Pings[]" value="@x.Id" />
							@x.Name
						</div>
					}
					else
					{
						<div onclick="changeSelection(this)" class="excluded">
							<input type="hidden" name="Pings[]" class="excluded" value="@x.Id" />
							@x.Name
						</div>
					}
				}
			</div>
		</div>
		<div class="view-form-field">
			<div class="view-form-field-name">
				<span>Используемые Sql процедуры</span>
			</div>
			<div class="view-form-selection">
				<input type="hidden" name="Sql[]" value="0" />
				@foreach (var x in sql)
				{
					if (usedSql.Contains(x.Id))
					{
						<div onclick="changeSelection(this)">
							<input type="hidden" name="Sql[]" value="@x.Id" />
							@x.Name
						</div>
					}
					else
					{
						<div onclick="changeSelection(this)" class="excluded">
							<input type="hidden" name="Sql[]" class="excluded" value="@x.Id" />
							@x.Name
						</div>
					}
				}
			</div>
		</div>

		<div class="view-form-buttons">
			<button class="button" onclick="submit()">Сохранить</button>
		</div>
	</div>

	<div class="modal-group" id="delete">
		<div class="overlay"></div>
		<div class="modal" id="delete-form" form="@Url.Action("DoDelete", "Configs")">
			<input type="hidden" name="@nameof(config.Id)" value="@config.Id" />
			<div>Вы уверены, что хотите удалить эту конфигурацию?</div>
			<div class="view-form-buttons">
				<button class="button" onclick="submit('#delete-form')">Удалить</button>
				<button class="button" onclick="modal()">Отмена</button>
			</div>
		</div>
	</div>
}
