@{ 
	var ping = new ActionPing();
}

<div class="view-caption">
	<div>
		<b>Создание Ping проверки</b>
	</div>
	<div>
		<a class="button" href="#/pings">К списку</a>
	</div>
</div>

<div class="view-body" form="@Url.Action("DoCreate", "Pings")">
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Название</span>
		</div>
		<div>
			<input name="@nameof(ping.Name)" />
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Цель</span>
		</div>
		<div>
			<input name="@nameof(ping.Target)" />
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Интервал проверки</span>
		</div>
		<div>
			<input type="number" min="1" step="1" name="@nameof(ping.Interval)" value="60" />
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Кол-во ошибок подряд до сообщения</span>
		</div>
		<div>
			<input type="number" min="1" step="1" name="@nameof(ping.Value)" value="1" />
		</div>
	</div>
	<div class="view-form-field">
		<div class="view-form-field-name">
			<span>Шаблон сообщения</span>
		</div>
		<div>
			<textarea name="@nameof(ping.Template)"></textarea>
		</div>
	</div>

	<div class="view-form-buttons">
		<button class="button" onclick="submit()">Сохранить</button>
	</div>
</div>
